@media screen and (min-width: 701px) {
    /*
    header
    */
    header{
        justify-content: flex-start;
    }
    .img_menu{
        display: none;
    }
    nav{
        flex-grow: 1;
    }

    .top_menu{
        transform: none;
        position: relative;
        top : auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .left_menu{
        margin-left: 30px;
    }
    .left_m{
        display: flex;
    }

    .btn-black{
        background-color: black;
        width: 115px;
        margin: 5px;
        color : white;
        height: 45px;
        border: none;
        border-radius: 8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn_plivre{
        margin-right: 20px;
    }

    .right_m{
        display: flex;
    }
    .btn-co{
        margin-right: 10px;
    }
    .active{
        color: #028586;
        text-decoration: none;
    }
    .welcome{
        font-size: 20px;
    }
    /*
    liste livre
     */
    .content_book{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card_book{
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 320px;
        align-self: flex-start;
        margin: 15px;
        padding: 10px;
    }
    .left_card{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .right_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;

    }
    .right_card p {
        text-align: center;
        margin: 5px 0;
    }
    .right_card button{
       margin: 20px auto;
    }
    .hide{
        display: none;
    }
    .btn_info_book{
        font-weight: bold;
    }

    /*
    modal
    */
    .center_modal{
        grid-template-columns: 150px auto;
        grid-template-rows: 250px;
    }
    .left_modal img{
        width: 150px;
    }
    .modal_book_content{
        background-color: white;
        margin: 120px auto;
        border : 1px solid #888;
        width: 586px;
        height: 80%;
    }
    .right_modal{
        font-size: 12px;
    }
    /*
    pret
    */
    .book_lend{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    section{
        width: 300px;
    }

}

@media screen and (min-width: 1024px) {

    body{
        font-size: 14px;
    }
    header{
        height: 180px;
        width: 100%;
    }
    .logo a img{
        width: 240px;
    }
    nav{
        font-size: 14px;
        display: flex;
        justify-content: space-evenly;
    }
    .top_menu{
        justify-content: space-evenly;
    }

    .btn_pcours{
        margin-left: 30px;
    }
    .btn-black{
        width: 129px;
    }
    .right_menu{
        margin-right: 60px;
    }
    .btn-cmpt{
        margin-right: 50px;
    }
    .sect_search{
        margin: 20px;
    }
    .error_co, .error_creat{
        font-size: 12px;
    }

    /*
    modal
    */
    .modal_book_content{
        background-color: white;
        border : 1px solid #888;
        width: 586px;
        height: 80%;
        z-index: 4;
    }
    .center_modal{
        grid-template-columns: 145px auto;
        grid-template-rows: 220px;
    }
    .left_modal img{
        width: 140px;
    }
    .right_modal{
        font-size: 12px;
    }
    .welcome{
        font-size: 25px;
    }

    .main_book{
        margin-top: 2%;
    }


}

@media screen and (min-width: 1280px) {

    .error_co, .error_creat{
        font-size: 14px;
    }
    .btn-black{
        width: 140px;
    }
    .modal_book_content{
        margin-top: 90px;
        width: 80%;
    }
    .center_modal{
        grid-template-columns: 195px 2fr;
        grid-template-rows: 300px;
        left: auto;
        padding: 40px;
    }
    .left_modal img{
        width: 180px;
    }
    .right_modal{
        font-size: 16px;
    }
}
